body {
    background-image: url(../img/fondopeces.jpg);
    background-size: cover;
    overflow: hidden;
}

#config {
    position: relative;
}

#tareasBckg {
    position: relative;
    height: 100%;
}
#buttonsTimer {
    display: flex;
    justify-content: center;
}

#buttonsTimer button {
    display: flex;
    margin-right: 4%;
}

/* Ajusta otros estilos según sea necesario */

.btn-round {
    border-radius: 50% !important;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.material-symbols-outlined {
    font-size: 20px;
    ;
}

#toDo,
#done,
#doing {
    height: 75vh;
    opacity: 90%;
    z-index: 3;
}

#panelCentral {
    display: flex;
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 2%;
    height: 100vh;
    backdrop-filter: blur(5px);
    border-radius: 2px;

}